{% extends 'base.html' %}
{% block title %}
Insert Customer
{% endblock %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/insert.css' %}">
<style>
    main{
        background-image: url('../../../static/imgs/homepage2.jpg');
    }
    .insert-form div{
        margin: 10px 0;
    }
</style>
{% endblock %}

{% block content %}
<nav id="page-nav">
    <a href="{% url 'allcustomers' %}" id="nav-display"> Display Customers</a>
    <a href="{% url 'insertcust'%}" id="nav-insert">Insert Customer </a>
</nav>
<form method="POST" enctype="multipart/form-data" class="insert-form">
    {% csrf_token %}
    <h2>Insert Customer</h2>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="custname" required autofocus>
    </div>

    <div>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="custphone" pattern="^(\+20|0)(10|11|12|15)[0-9]{8}$" required placeholder="e.g. 01012345678"
        title="Phone number must start with 010, 011, 012, or 015 (with or without +20).">
        <p class="error" style="display: none;">Invalid phone number format.</p>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="custemail" placeholder="username@gmail.com">
    </div>
    {% if error %}
        <p class="error">Customer exists before!</p>
    {% endif %}
    <button type="submit">Insert Customer</button>
</form>
{% endblock %}